* {
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
  }
body{
    margin: 0;
}
.navigate {
    width: 100%;
    position: fixed;
    margin: auto auto;
    top: 0;
    right: 0;
    background-color: white;
    z-index: 5;
    border-radius: 10px;
    opacity: 0.8;
}
nav ul{
    list-style: none;
    float: right;
    margin-right: 55px;
}
nav li  {
  display: inline-block;
  padding: 0 10px;
  font-size: 20px; 
  border-radius: 5px;
}
nav li:hover {
    opacity: .7;
    transition: 1.5s;
    background-color: gold;
}
a {
    text-decoration: none;
    color: black;
}
.container {
    position: relative;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 60px;
}
  
.image {
    opacity: 1;
    display: block;
    width: 100%;
    height: 600px;
    transition: 1.5s ease;
    backface-visibility: hidden;
    border-radius: 5px;
}
  
.middle {
    transition: 1s ease;
    opacity: 0;
    position: absolute;
    top: 0;
}
  
.container:hover .image {
    opacity: 0.4;
    background-color: grey;
}
  
.container:hover .middle {
    opacity: 1;
}
  
.text {
    background-color: none;
    color: rgb(231, 178, 1);
    font-size: 4vw;
    padding: 30px 32px;
    border-radius: 10px;
    float: left;
    text-transform: uppercase;
    text-shadow: 0px 3px 0px rgb(248, 226, 154);
}
.container-profile  {
    position: relative;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 90px;
    text-align: center;
    display: block;
}
.container-profile h1{
    font-size: 50px;
    text-transform: uppercase;
}
.self-image {
    height: 300px;
    width: 300px;
    border-radius: 50%;
}
.profile-info   {   
    width: 800px;
    padding: 50px 0 8px;
    margin-left: auto;
    margin-right: auto;
}
.profile-info p{
    margin-bottom: 35px;
    word-spacing: 1px;
    line-height: 1.6;
    font-size: 18px;
    position: relative;
}
.container-hobby    {
    position: relative;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 90px;
    text-align: center;
    display: block;
}
.container-hobby h1{
    font-size: 50px;
    text-transform: uppercase;
}
.hobby-image {
    width: 60%;
    height: 250px;
    border-radius: 50%;
}
.hobby-content {
    padding: 20px;
    margin-bottom: 10px;
}  
.hobby-content h3 {
    margin-top: 0;
    margin-bottom: 0;
}  
.hobby-content p {
    margin: 0.5em 0;
}
.container-contact{
    position: relative;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 90px;
    text-align: center;
    display: block;
}
.contact-info ul    {
    list-style: none;
    margin-right: 55px;
    margin-bottom: 70px;
    width: 60%;
    margin-left: auto;
    margin-right: auto;
    border-top: 1px solid grey;
    border-bottom: 1px solid grey;
}
.contact-info li    {
    margin: 25px;
    word-spacing: 10px;
    text-align: left;
}
.contact-info a:hover{
    color: gold;
}